name: Build
on:
  push:
    branches:
      - master
      - branch-*
      - dogfood-*
      - sz/test-analyze-action
  workflow_dispatch:
  schedule:
    # Nightly build at 2 AM UTC for shadow analysis
    - cron: '0 2 * * *' 

env:
  PYTHON_VERSION: 3.9.5
  IS_COMMUNITY: true

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  analyze:
    runs-on: github-ubuntu-latest-s
    name: Build
    permissions:
      id-token: write
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "Analysis on SonarQube NEXT"
            sonarqube_instance: "next"
            sonar_project_key: "org.sonarsource.python:python"
          - name: "Analysis on Sonarcloud.io"
            sonarqube_instance: "sqc-eu"
            sonar_project_key: "SonarSource_sonar-python"
          - name: "Analysis on SonarQube.us"
            sonarqube_instance: "sqc-us"
            sonar_project_key: "SonarSource_sonar-python"
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup submodules
        run: |
          git submodule update --init --jobs 4
          cd python-frontend/typeshed_serializer/resources/python-type-stubs
          git sparse-checkout set stubs/sklearn
          git checkout

      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          version: 2025.12.12
        env: 
          MISE_HTTP_TIMEOUT: 120

      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          version: 2025.12.12

      - name: Test Tox
        run: |
          set +e          
          uv python ls

          echo /home/runner/.local/share/uv
          ls -la /home/runner/.local/share/uv/

          echo /home/runner/.local/share/uv/python/
          ls -la /home/runner/.local/share/uv/python/

          echo show linked python version
          ls -la /home/runner/.local/share/uv/python/cpython-3.10.19-linux-x86_64-gnu/bin/python3.10

          echo run actualy binary
          /home/runner/.local/share/mise/installs/pipx-tox/4.32.0/tox/bin/tox


          echo which tox
          which tox

          echo run tox
          tox 
        env:
          MISE_VERBOSE: 1
          MISE_DEBUG: 1

      - name: Remove private directory
        run: rm -rf private

      - name: Get project version
        id: project-version
        run: echo "version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_OUTPUT

      - name: Analyze
        uses: ./.github-commons/actions/analyze
        with:
          sonarqube-instance: ${{ matrix.sonarqube_instance }}
          sonar-project-key: ${{ matrix.sonar_project_key }}
          sonar-project-name: Python
          sonar-project-version: ${{ steps.project-version.outputs.version }}
